body{
  background: url("../img/Bglightsm.jpg") 	#87CEEB;
  /*background-size: 100%;*/
  /*background: pink;*/
  align-items: center;
  text-align: center;
  font-family:sans-serif;
  font-weight: bold;
  margin:0;
}

header{
  color: white;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: -12%;
  align-items: center;
  text-align: center;
}

#resultitle{
  text-shadow: -1px 0 blue, 0 1px blue;
  margin-left: 10px;
}

#myTable{
  margin-left: 10px;
}

.result{
  text-align: left;
  font-weight: lighter;


}

.maxwin{
  display: none;
}

table {
  /*border-collapse: collapse;
  margin-top: -20px;
  font-size: 15px;
  font-style: normal;
  width: 220px;
  display: block;
  border:1px solid red;
  margin-top:50px;*/

  margin-top:50px;
  width: 220px;
  background-color: #ffffff;
  opacity: .4;
  margin-top: -17px;
  border-radius: 5%;



 }






th {
  /*border-bottom: solid thin white;*/
  color: black;


}


thead{
    width: 220px;
    display: block;

    /*display: block;*/

}
tbody{
  width: 220px;
  overflow-y:scroll;
  height:110px;
  display: block;

}

.won {
  color: green;

}

.lost {
  color: red;

}


.auto-button{
  width: 3.5em;
  height: 2.75em;
  text-align: center;
  border-radius: 20%;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  border-color: grey;

}

.auto-button:hover {
  background: linear-gradient(-90deg, gold, yellow);
}

.action{
  width: 6em;
  height: 3em;
  text-align: center;
  border-radius: 20%;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  border-color: grey;
  /*vertical-align: top;*/
  margin-top: 5%;
  margin-left: -2.3%;

}

.action:hover {
  background: linear-gradient(-90deg, #C4FFAE, #87CEFA);
}

.keep{
  margin:0;
}

.resultboxtxtwin{
  /*margin: 0;
  text-align: center;
  position: relative;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.resultboxtxtlose{
  /*margin: 0;
  text-align: center;
  position: relative;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.bet-size{
  margin-bottom: 5%;
}

.wrap{
  width: 100%;
}

#head_right{
  float:right;
  color:black;
  text-align: left;
  width: 100px;
}

#head_left{
  float:left;
  width: 100px;
  text-align: left;

}

.place-bet{
  float:left;
  width: 33%;
  margin-bottom: 100px;
}

.Analysis{
  float:right;
  width: 33%;
}

.whitelabel{
  text-shadow: -1px 0 blue, 0 1px blue;
  color: white;
}

.mysterybox{
  padding-top: 2% ;
  padding-bottom: 2%;
  padding-left: 27%;
  padding-right: 27%;
  align-items: center;
  text-align: center;

}

#loading{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  image-orientation: center;

}

/*#crown{
  margin: 0 auto;
}*/
@media (max-width: 700px){
#head_right, #head_left{
  float: none;
  width: 100%;
}
}
@media (max-width: 800px){
  .place-bet, .Analysis{
    float: none;
    width: 100%;

  }


  .Analysis{
    margin-bottom: 5%;
    margin-top: -10%;

  }

  .place-bet{
    margin-top: -15%;
  }

  #frame{
    padding-bottom: -10%;

  }

  .mysterybox{
    margin-top: -20%;
  }

}

.control{
  margin-top: 3%;
  margin-bottom: 5%;
}

.bet-value{
  margin-top:8%;
}

h2{
  color: white;
  font-weight: bold;
  font-family:sans-serif;
  text-shadow: -1px 0 blue, 0 1px blue;
}

label{
  margin-right: 2%;
}

.numb{
  width: 3.5em ;
  height: 1.5em;
  border-radius: 15%;
  padding: .2em;
  background: transparent;
  text-align: right;
  color: black;
  font-weight: bold;
}

.eth{
  margin-left: -10px;
}

footer {
  height: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight:normal;
}

#x{
  margin-left: 2%;
  color: black;
  text-shadow: none;
}


.text-block{
  position: relative;
  bottom: 202px;
  /*text-align: center;*/
  /*text-shadow: 1px 0 brown, 0 -1px brown;*/
}


/*.rainbow {
background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
color:transparent;
-webkit-background-clip: text;
background-clip: text;
}*/

  .slider {
    -webkit-appearance: none;
    width: 40%;
    height: 15px;
    border-radius: 5px;
    background: white;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border: 0;
    background-image:  url("../img/ethpointer2.png");
    background-size: 100% 100%;
    cursor: pointer;
  }
.resultboxwin{
  padding-top: 5% ;
  padding-bottom: 2%;
  margin-left: 27%;
  margin-right: 27%;
  align-items: center;
  text-align: center;
  position: relative;
}

.resultboxlose{
  padding-top: 5% ;
  padding-bottom: 2%;
  margin-left: 27%;
  margin-right: 27%;
  align-items: center;
  text-align: center;
  position: relative;
}
  /*#winningnumber{
    width: 100%;
    font-size: 45px;
    align-items: center;
    text-align: center;
  }*/
  #roll-again{
    width: 5em;
    text-align: center;
    border-radius: 20%;
    background: linear-gradient(-90deg, #87CEFA, 	#9370DB);
    cursor: pointer;
    font-weight: bold;
    border-color: grey;
    margin-top: 5%;
    font-size: 1.25em;
    color: white;
  }
  #roll-again:hover{
    background: linear-gradient(-90deg, #C4FFAE, #87CEFA);
  }

  #second-roll-under{
  }
  .rainbow-border{
    width: 100%;
    height: 10px;
    background-image: repeating-linear-gradient(-90deg, #BA55D3, #C4FFAE, #87CEFA);
    background-size: 100% 10px;
    background-repeat:no-repeat;
    padding-bottom: 5%;

  }
  /*#win, #lose{
    display:none;
  }*/

  #heart{
    width:20px;
  }

  #prize{
    width:50px;
  }

  #sad{
    width:50px;
  }
  .cloud{
    padding-bottom: 5%;
  }

  #cancel-btn{
    margin-top: .2%;
    margin-bottom: 4%;
  }

  #winner{
    margin-top:-5%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    image-orientation: center;
  }

  #winner2{
    margin-bottom: -30%;
    margin-top:-60%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    image-orientation: center;

  }

  #loser1{
    margin-top:-23%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    image-orientation: center;
  }

  #loser2{
    margin-top:-35%;
    width: 30%;
    display:block;
    margin-left: 35%;
    margin-right: auto;
    image-orientation: center;

  }

  #btnsuccess{

    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }


#btnsuccess:hover {
    color: white;
    text-shadow: -1px 0 blue, 0 1px blue;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    border-radius: 5%;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    /*background-color: #fefefe;*/
    margin: auto;
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 80%;
    color: black;
    word-wrap: break-word;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#pending-roll-info{
  padding-bottom: 10px;
}
